@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --main-bg: white;
  --additional-bg: #F3F4FF;
  --dark-blue: #6C72B9;
  --border-blocks: #C7C9E1;
}

.small_buttons > button{
  border: 2px solid var(--border-blocks);
  border-radius: 6px;
  color: black;
  background-color: var(--main-bg);
  transition: 0.2s;
}

.small_buttons > button:hover{
  color: white;
  background-color: var(--dark-blue);
}

.active-button{
  color: white !important;
  background-color: var(--dark-blue) !important;
}

.aside_opened{
  left: 0%;
}

.aside_hidden{
  left: -240px;
}

.hide_aside_button{
  display: none;
}

.ticket_list{
  width: 100%;
}

@media (max-width: 1400px) {
  .aside{
    position: absolute;
  }

  .hide_aside_button{
    display: block;
  }

  .classes_list, .schedule, .teacher_list, .ticket_list{
    width: calc(100% - 90px) !important;
  }
}

@media (min-width: 1401px) {
  .hide_aside_button{
    display: none;
  }

  
}